Smart/SMSAlerts/smsalertresponse.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com"
	elementFormDefault="qualified">
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="code" type="xs:integer" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="transactionid" type="xs:string"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>