ThirdPartyIntegrations/StarTimes/src/main/resources/wsdl/electronicPaymentService.wsdl

<wsdl:definitions xmlns:ns2="http://haiwai.model.sms.star.com"
	xmlns:ns1="http://model.service.sms.star.com" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
	xmlns:tns="http://service.haiwai.sms.star.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://service.haiwai.sms.star.com">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://service.haiwai.sms.star.com">
			<xsd:element name="queryBalance">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="transactionNo"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="payerID"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="payerPwd"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="customerCode"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="smartCardCode"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="customerPwd"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="deviceType"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryBalanceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							nillable="true" type="ns1:BalanceInfo" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="customerPay2">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="in0"
							nillable="true" type="ns2:CustomerPayDto2" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="customerPay2Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							nillable="true" type="ns2:CustomerPayResult2" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="customerPay">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="transactionNo"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="payerID"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="payerPwd"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="customerCode"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="customerName"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="customerTel"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="smartCardCode"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="fee"
							nillable="true" type="xsd:double" />
						<xsd:element maxOccurs="1" minOccurs="1" name="receiptCode"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="deviceType"
							nillable="true" type="xsd:string" />
						<xsd:element maxOccurs="1" minOccurs="1" name="transferTime"
							nillable="true" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="customerPayResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="out"
							nillable="true" type="ns1:CustomerPayResult" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://model.service.sms.star.com">
			<xsd:complexType name="BalanceInfo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="TELDealID" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="balance" nillable="true"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="billAmount" nillable="true"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="customerCode"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="customerName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="payType" nillable="true"
						type="xsd:int" />
					<xsd:element minOccurs="0" name="returnCode" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="returnMsg" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="smartCardCode"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CustomerPayResult">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="TELDealID" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="balance" nillable="true"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="customerCode"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="customerContectTel"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="customerName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="fee" nillable="true"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="orderCode" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="returnCode" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="returnMsg" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="smartCardCode"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://haiwai.model.sms.star.com">
			<xsd:complexType name="CustomerPayDto2">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="customerCode"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="customerName"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="customerTel" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="deviceType" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="email" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="fee" nillable="true"
						type="xsd:double" />
					<xsd:element minOccurs="0" name="payerID" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="payerPwd" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="receiptCode" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="smartCardCode"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="transactionNo"
						nillable="true" type="xsd:string" />
					<xsd:element minOccurs="0" name="transferTime"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CustomerPayResult2">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="orderCode" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="returnCode" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="returnMsg" nillable="true"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="transactionlNo"
						nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="customerPayResponse">
		<wsdl:part name="parameters" element="tns:customerPayResponse" />
	</wsdl:message>
	<wsdl:message name="customerPayRequest">
		<wsdl:part name="parameters" element="tns:customerPay" />
	</wsdl:message>
	<wsdl:message name="customerPay2Response">
		<wsdl:part name="parameters" element="tns:customerPay2Response" />
	</wsdl:message>
	<wsdl:message name="customerPay2Request">
		<wsdl:part name="parameters" element="tns:customerPay2" />
	</wsdl:message>
	<wsdl:message name="queryBalanceResponse">
		<wsdl:part name="parameters" element="tns:queryBalanceResponse" />
	</wsdl:message>
	<wsdl:message name="queryBalanceRequest">
		<wsdl:part name="parameters" element="tns:queryBalance" />
	</wsdl:message>
	<wsdl:portType name="IHaiWaiElectronicPaymentServicePortType">
		<wsdl:operation name="queryBalance">
			<wsdl:input name="queryBalanceRequest" message="tns:queryBalanceRequest" />
			<wsdl:output name="queryBalanceResponse" message="tns:queryBalanceResponse" />
		</wsdl:operation>
		<wsdl:operation name="customerPay2">
			<wsdl:input name="customerPay2Request" message="tns:customerPay2Request" />
			<wsdl:output name="customerPay2Response" message="tns:customerPay2Response" />
		</wsdl:operation>
		<wsdl:operation name="customerPay">
			<wsdl:input name="customerPayRequest" message="tns:customerPayRequest" />
			<wsdl:output name="customerPayResponse" message="tns:customerPayResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IHaiWaiElectronicPaymentServiceHttpBinding"
		type="tns:IHaiWaiElectronicPaymentServicePortType">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryBalance">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="queryBalanceRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="queryBalanceResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="customerPay2">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="customerPay2Request">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="customerPay2Response">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="customerPay">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="customerPayRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="customerPayResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IHaiWaiElectronicPaymentService">
		<wsdl:port name="IHaiWaiElectronicPaymentServiceHttpPort"
			binding="tns:IHaiWaiElectronicPaymentServiceHttpBinding">
			<wsdlsoap:address
				location="http://62.173.36.18:8080/stariboss-haiwai_proxy/electronicPaymentService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>