Zenith/VisafoneAirtime/src/main/resources/neptune.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2-hudson-740-. -->
<xs:schema xmlns:tns="http://neptune.ucitech.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://neptune.ucitech.com/">

	<xs:element name="addCustomerProductByMerchant" type="tns:addCustomerProductByMerchant" />

	<xs:element name="addCustomerProductByMerchantResponse"
		type="tns:addCustomerProductByMerchantResponse" />

	<xs:element name="addCustomerProductsByMerchant" type="tns:addCustomerProductsByMerchant" />

	<xs:element name="addCustomerProductsByMerchantResponse"
		type="tns:addCustomerProductsByMerchantResponse" />

	<xs:element name="delCustomerProductByMerchant" type="tns:delCustomerProductByMerchant" />

	<xs:element name="delCustomerProductByMerchantResponse"
		type="tns:delCustomerProductByMerchantResponse" />

	<xs:element name="delCustomerProductsByMerchant" type="tns:delCustomerProductsByMerchant" />

	<xs:element name="delCustomerProductsByMerchantResponse"
		type="tns:delCustomerProductsByMerchantResponse" />

	<xs:element name="login" type="tns:login" />

	<xs:element name="loginResponse" type="tns:loginResponse" />

	<xs:element name="queryCustomerByMerchant" type="tns:queryCustomerByMerchant" />

	<xs:element name="queryCustomerByMerchantResponse" type="tns:queryCustomerByMerchantResponse" />

	<xs:element name="queryMerchantProducts" type="tns:queryMerchantProducts" />

	<xs:element name="queryMerchantProductsResponse" type="tns:queryMerchantProductsResponse" />

	<xs:element name="queryMerchantTransaction" type="tns:queryMerchantTransaction" />

	<xs:element name="queryMerchantTransactionResponse" type="tns:queryMerchantTransactionResponse" />

	<xs:element name="queryMerchants" type="tns:queryMerchants" />

	<xs:element name="queryMerchantsResponse" type="tns:queryMerchantsResponse" />

	<xs:element name="response" type="tns:proxyResponse" />

	<xs:complexType name="delCustomerProductByMerchant">
		<xs:sequence>
			<xs:element name="appid" type="xs:string" minOccurs="0" />
			<xs:element name="merchantId" type="xs:string" minOccurs="0" />
			<xs:element name="order" type="tns:order" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="order">
		<xs:sequence>
			<xs:element name="additionalInfo" type="xs:string"
				minOccurs="0" />
			<xs:element name="customerId" type="xs:string" minOccurs="0" />
			<xs:element name="id" type="xs:long" minOccurs="0" />
			<xs:element name="item" type="tns:item" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="item">
		<xs:sequence>
			<xs:element name="productId" type="xs:int" minOccurs="0" />
			<xs:element name="quantity" type="xs:int" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="delCustomerProductByMerchantResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:proxyResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="proxyResponse">
		<xs:sequence>
			<xs:element name="desc" type="xs:string" minOccurs="0" />
			<xs:element name="record" type="xs:anyType" nillable="true"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="retn" type="xs:int" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="merchant">
		<xs:sequence>
			<xs:element name="merchantId" type="xs:string" minOccurs="0" />
			<xs:element name="name" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="product" final="extension restriction">
		<xs:sequence>
			<xs:element name="id" type="xs:int" minOccurs="0" />
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="price" type="xs:long" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="balance">
		<xs:sequence>
			<xs:element name="appname" type="xs:string" minOccurs="0" />
			<xs:element name="balance" type="xs:long" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="transaction">
		<xs:sequence>
			<xs:element name="account" type="xs:string" minOccurs="0" />
			<xs:element name="errorCode" type="xs:string" minOccurs="0" />
			<xs:element name="id" type="xs:string" minOccurs="0" />
			<xs:element name="msisdn" type="xs:string" minOccurs="0" />
			<xs:element name="startTime" type="xs:string" minOccurs="0" />
			<xs:element name="transactionId" type="xs:string"
				minOccurs="0" />
			<xs:element name="value" type="xs:string" minOccurs="0" />
			<xs:element name="vendor" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="queryMerchantTransaction">
		<xs:sequence>
			<xs:element name="appid" type="xs:string" minOccurs="0" />
			<xs:element name="merchantId" type="xs:string" minOccurs="0" />
			<xs:element name="order" type="tns:order" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="queryMerchantTransactionResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:proxyResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="delCustomerProductsByMerchant">
		<xs:sequence>
			<xs:element name="appid" type="xs:string" minOccurs="0" />
			<xs:element name="merchantId" type="xs:string" minOccurs="0" />
			<xs:element name="order" type="tns:order" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="delCustomerProductsByMerchantResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:proxyResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="queryMerchants">
		<xs:sequence>
			<xs:element name="appid" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="queryMerchantsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:proxyResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="addCustomerProductsByMerchant">
		<xs:sequence>
			<xs:element name="appid" type="xs:string" minOccurs="0" />
			<xs:element name="merchantId" type="xs:string" minOccurs="0" />
			<xs:element name="order" type="tns:order" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="addCustomerProductsByMerchantResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:proxyResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="queryMerchantProducts">
		<xs:sequence>
			<xs:element name="appid" type="xs:string" minOccurs="0" />
			<xs:element name="merchantId" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="queryMerchantProductsResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:proxyResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="login">
		<xs:sequence>
			<xs:element name="appid" type="xs:string" minOccurs="0" />
			<xs:element name="password" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="loginResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:proxyResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="queryCustomerByMerchant">
		<xs:sequence>
			<xs:element name="appid" type="xs:string" minOccurs="0" />
			<xs:element name="merchantId" type="xs:string" minOccurs="0" />
			<xs:element name="order" type="tns:order" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="queryCustomerByMerchantResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:proxyResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="addCustomerProductByMerchant">
		<xs:sequence>
			<xs:element name="appid" type="xs:string" minOccurs="0" />
			<xs:element name="merchantId" type="xs:string" minOccurs="0" />
			<xs:element name="order" type="tns:order" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="addCustomerProductByMerchantResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:proxyResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>