Zenith/VisafoneAirtime/src/main/resources/neptune.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2-hudson-740-. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://neptune.ucitech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://neptune.ucitech.com/"
	name="start">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://neptune.ucitech.com/"
				schemaLocation="neptune.xsd" />
		</xsd:schema>
	</types>
	<message name="login">
		<part name="parameters" element="tns:login" />
	</message>
	<message name="loginResponse">
		<part name="parameters" element="tns:loginResponse" />
	</message>
	<message name="queryMerchants">
		<part name="parameters" element="tns:queryMerchants" />
	</message>
	<message name="queryMerchantsResponse">
		<part name="parameters" element="tns:queryMerchantsResponse" />
	</message>
	<message name="queryMerchantProducts">
		<part name="parameters" element="tns:queryMerchantProducts" />
	</message>
	<message name="queryMerchantProductsResponse">
		<part name="parameters" element="tns:queryMerchantProductsResponse" />
	</message>
	<message name="queryMerchantTransaction">
		<part name="parameters" element="tns:queryMerchantTransaction" />
	</message>
	<message name="queryMerchantTransactionResponse">
		<part name="parameters" element="tns:queryMerchantTransactionResponse" />
	</message>
	<message name="queryCustomerByMerchant">
		<part name="parameters" element="tns:queryCustomerByMerchant" />
	</message>
	<message name="queryCustomerByMerchantResponse">
		<part name="parameters" element="tns:queryCustomerByMerchantResponse" />
	</message>
	<message name="addCustomerProductByMerchant">
		<part name="parameters" element="tns:addCustomerProductByMerchant" />
	</message>
	<message name="addCustomerProductByMerchantResponse">
		<part name="parameters" element="tns:addCustomerProductByMerchantResponse" />
	</message>
	<message name="delCustomerProductByMerchant">
		<part name="parameters" element="tns:delCustomerProductByMerchant" />
	</message>
	<message name="delCustomerProductByMerchantResponse">
		<part name="parameters" element="tns:delCustomerProductByMerchantResponse" />
	</message>
	<message name="addCustomerProductsByMerchant">
		<part name="parameters" element="tns:addCustomerProductsByMerchant" />
	</message>
	<message name="addCustomerProductsByMerchantResponse">
		<part name="parameters" element="tns:addCustomerProductsByMerchantResponse" />
	</message>
	<message name="delCustomerProductsByMerchant">
		<part name="parameters" element="tns:delCustomerProductsByMerchant" />
	</message>
	<message name="delCustomerProductsByMerchantResponse">
		<part name="parameters" element="tns:delCustomerProductsByMerchantResponse" />
	</message>
	<portType name="start">
		<operation name="login">
			<input wsam:Action="http://neptune.ucitech.com/start/loginRequest"
				message="tns:login" />
			<output wsam:Action="http://neptune.ucitech.com/start/loginResponse"
				message="tns:loginResponse" />
		</operation>
		<operation name="queryMerchants">
			<input wsam:Action="http://neptune.ucitech.com/start/queryMerchantsRequest"
				message="tns:queryMerchants" />
			<output wsam:Action="http://neptune.ucitech.com/start/queryMerchantsResponse"
				message="tns:queryMerchantsResponse" />
		</operation>
		<operation name="queryMerchantProducts">
			<input
				wsam:Action="http://neptune.ucitech.com/start/queryMerchantProductsRequest"
				message="tns:queryMerchantProducts" />
			<output
				wsam:Action="http://neptune.ucitech.com/start/queryMerchantProductsResponse"
				message="tns:queryMerchantProductsResponse" />
		</operation>
		<operation name="queryMerchantTransaction">
			<input
				wsam:Action="http://neptune.ucitech.com/start/queryMerchantTransactionRequest"
				message="tns:queryMerchantTransaction" />
			<output
				wsam:Action="http://neptune.ucitech.com/start/queryMerchantTransactionResponse"
				message="tns:queryMerchantTransactionResponse" />
		</operation>
		<operation name="queryCustomerByMerchant">
			<input
				wsam:Action="http://neptune.ucitech.com/start/queryCustomerByMerchantRequest"
				message="tns:queryCustomerByMerchant" />
			<output
				wsam:Action="http://neptune.ucitech.com/start/queryCustomerByMerchantResponse"
				message="tns:queryCustomerByMerchantResponse" />
		</operation>
		<operation name="addCustomerProductByMerchant">
			<input
				wsam:Action="http://neptune.ucitech.com/start/addCustomerProductByMerchantRequest"
				message="tns:addCustomerProductByMerchant" />
			<output
				wsam:Action="http://neptune.ucitech.com/start/addCustomerProductByMerchantResponse"
				message="tns:addCustomerProductByMerchantResponse" />
		</operation>
		<operation name="delCustomerProductByMerchant">
			<input
				wsam:Action="http://neptune.ucitech.com/start/delCustomerProductByMerchantRequest"
				message="tns:delCustomerProductByMerchant" />
			<output
				wsam:Action="http://neptune.ucitech.com/start/delCustomerProductByMerchantResponse"
				message="tns:delCustomerProductByMerchantResponse" />
		</operation>
		<operation name="addCustomerProductsByMerchant">
			<input
				wsam:Action="http://neptune.ucitech.com/start/addCustomerProductsByMerchantRequest"
				message="tns:addCustomerProductsByMerchant" />
			<output
				wsam:Action="http://neptune.ucitech.com/start/addCustomerProductsByMerchantResponse"
				message="tns:addCustomerProductsByMerchantResponse" />
		</operation>
		<operation name="delCustomerProductsByMerchant">
			<input
				wsam:Action="http://neptune.ucitech.com/start/delCustomerProductsByMerchantRequest"
				message="tns:delCustomerProductsByMerchant" />
			<output
				wsam:Action="http://neptune.ucitech.com/start/delCustomerProductsByMerchantResponse"
				message="tns:delCustomerProductsByMerchantResponse" />
		</operation>
	</portType>
	<binding name="startPortBinding" type="tns:start">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="login">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="queryMerchants">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="queryMerchantProducts">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="queryMerchantTransaction">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="queryCustomerByMerchant">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addCustomerProductByMerchant">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="delCustomerProductByMerchant">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addCustomerProductsByMerchant">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="delCustomerProductsByMerchant">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="start">
		<port name="startPort" binding="tns:startPortBinding">
			<soap:address location="http://172.29.8.37:80/neptune/start" />
		</port>
	</service>
</definitions>