Commons/IntegrationFramework/src/main/resources/InquiryRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Inquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="MessageID"/>
              <xs:element type="xs:string" name="TrxID"/>
              <xs:element type="xs:string" name="TrxTime"/>
              <xs:element type="xs:string" name="TerminalID"/>
              <xs:element type="xs:string" name="ChannelID"/>
              <xs:element type="xs:string" name="BillerID"/>
              <xs:element type="xs:string" name="BillerCategory"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Payload">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CustomerID"/>
              <xs:element type="xs:string" name="TrxAmount"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>