GTBank/GTSMS/src/main/resources/wsdl/BlackBoxService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MM_LoadCash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cust_acct_no" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="cust_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="transactionid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="narration" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paymentdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MM_LoadCashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MM_LoadCashResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MM_LoadCashStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MM_LoadCashStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MM_LoadCashStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertNUBAN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuban" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertNUBANResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertNUBANResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MM_LoadCashSoapIn">
    <wsdl:part name="parameters" element="tns:MM_LoadCash" />
  </wsdl:message>
  <wsdl:message name="MM_LoadCashSoapOut">
    <wsdl:part name="parameters" element="tns:MM_LoadCashResponse" />
  </wsdl:message>
  <wsdl:message name="MM_LoadCashStatusSoapIn">
    <wsdl:part name="parameters" element="tns:MM_LoadCashStatus" />
  </wsdl:message>
  <wsdl:message name="MM_LoadCashStatusSoapOut">
    <wsdl:part name="parameters" element="tns:MM_LoadCashStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertNUBANSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertNUBAN" />
  </wsdl:message>
  <wsdl:message name="ConvertNUBANSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertNUBANResponse" />
  </wsdl:message>
  <wsdl:portType name="BlackBoxServiceSoap">
    <wsdl:operation name="MM_LoadCash">
      <wsdl:input message="tns:MM_LoadCashSoapIn" />
      <wsdl:output message="tns:MM_LoadCashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MM_LoadCashStatus">
      <wsdl:input message="tns:MM_LoadCashStatusSoapIn" />
      <wsdl:output message="tns:MM_LoadCashStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertNUBAN">
      <wsdl:input message="tns:ConvertNUBANSoapIn" />
      <wsdl:output message="tns:ConvertNUBANSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BlackBoxServiceSoap" type="tns:BlackBoxServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MM_LoadCash">
      <soap:operation soapAction="http://tempuri.org/MM_LoadCash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MM_LoadCashStatus">
      <soap:operation soapAction="http://tempuri.org/MM_LoadCashStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertNUBAN">
      <soap:operation soapAction="http://tempuri.org/ConvertNUBAN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BlackBoxServiceSoap12" type="tns:BlackBoxServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MM_LoadCash">
      <soap12:operation soapAction="http://tempuri.org/MM_LoadCash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MM_LoadCashStatus">
      <soap12:operation soapAction="http://tempuri.org/MM_LoadCashStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertNUBAN">
      <soap12:operation soapAction="http://tempuri.org/ConvertNUBAN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlackBoxService">
    <wsdl:port name="BlackBoxServiceSoap" binding="tns:BlackBoxServiceSoap">
      <soap:address location="http://10.2.5.88/mmblackbox/BlackBoxService.asmx" />
    </wsdl:port>
    <wsdl:port name="BlackBoxServiceSoap12" binding="tns:BlackBoxServiceSoap12">
      <soap12:address location="http://10.2.5.88/mmblackbox/BlackBoxService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>