GTBank/GTSMS/src/main/resources/wsdl/smsc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="Send_Message">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Log_Seq" type="s:int"/>
<s:element minOccurs="0" maxOccurs="1" name="MobileNum" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="SenderID" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="Send_MessageResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="Send_MessageResult" type="s:int"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="Send_MessageSoapIn">
<wsdl:part name="parameters" element="tns:Send_Message"/>
</wsdl:message>
<wsdl:message name="Send_MessageSoapOut">
<wsdl:part name="parameters" element="tns:Send_MessageResponse"/>
</wsdl:message>
<wsdl:portType name="ServiceSoap">
<wsdl:operation name="Send_Message">
<wsdl:input message="tns:Send_MessageSoapIn"/>
<wsdl:output message="tns:Send_MessageSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Send_Message">
<soap:operation soapAction="http://tempuri.org/Send_Message" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Send_Message">
<soap12:operation soapAction="http://tempuri.org/Send_Message" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Service">
<wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
<soap:address location="http://10.99.0.13/mobilemoni_service/service.asmx"/>
</wsdl:port>
<wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
<soap12:address location="http://10.99.0.13/mobilemoni_service/service.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>