Tools/DataPushServer/src/wsdl/PGWDataPushService/PGWDataPushInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.bss.zsmart.ztesoft.com" xmlns:impl="http://ws.bss.zsmart.ztesoft.com" xmlns:intf="http://ws.bss.zsmart.ztesoft.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.bss.zsmart.ztesoft.com" elementFormDefault="qualified">
   <element name="RegisterNewSubs">
    <complexType>
     <sequence>
      <element name="MSISDN" type="xsd:string"/>
      <element name="IMSI" type="xsd:string"/>
      <element name="MarketingCatg" type="xsd:string"/>
      <element name="Product" type="xsd:string"/>
      <element name="FirstName" type="xsd:string"/>
      <element name="LastName" type="xsd:string"/>
      <element name="Email" type="xsd:string"/>
      <element name="Language" type="xsd:string"/>
      <element name="Currency" type="xsd:string"/>
      <element name="PaidFlag" type="xsd:string"/>
      <element name="IDType" type="xsd:string"/>
      <element name="IDNumber" type="xsd:string"/>
      <element name="Gender" type="xsd:string"/>
      <element name="Address" type="xsd:string"/>
      <element name="City" type="xsd:string"/>
      <element name="BirthPlace" type="xsd:string"/>
      <element name="BirthDate" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="RegisterNewSubsResponse">
    <complexType>
     <sequence>
      <element name="RegisterNewSubsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="UpdateSubs">
    <complexType>
     <sequence>
      <element name="MSISDN" type="xsd:string"/>
      <element name="IMSI" type="xsd:string"/>
      <element name="MarketingCatg" type="xsd:string"/>
      <element name="Product" type="xsd:string"/>
      <element name="FirstName" type="xsd:string"/>
      <element name="LastName" type="xsd:string"/>
      <element name="Email" type="xsd:string"/>
      <element name="Language" type="xsd:string"/>
      <element name="Currency" type="xsd:string"/>
      <element name="PaidFlag" type="xsd:string"/>
      <element name="IDType" type="xsd:string"/>
      <element name="IDNumber" type="xsd:string"/>
      <element name="Gender" type="xsd:string"/>
      <element name="Address" type="xsd:string"/>
      <element name="City" type="xsd:string"/>
      <element name="BirthPlace" type="xsd:string"/>
      <element name="BirthDate" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="UpdateSubsResponse">
    <complexType>
     <sequence>
      <element name="UpdateSubsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="UpdateRetiredSubs">
    <complexType>
     <sequence>
      <element name="MSISDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="UpdateRetiredSubsResponse">
    <complexType>
     <sequence>
      <element name="UpdateRetiredSubsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="UpdateSubsMDN">
    <complexType>
     <sequence>
      <element name="MSISDN" type="xsd:string"/>
      <element name="NewMSISDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="UpdateSubsMDNResponse">
    <complexType>
     <sequence>
      <element name="UpdateSubsMDNReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="LowBalNotif">
    <complexType>
     <sequence>
      <element name="MSISDN" type="xsd:string"/>
      <element name="NotifType" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="LowBalNotifResponse">
    <complexType>
     <sequence>
      <element name="LowBalNotifReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="UpdateSubsMDNRequest">

      <wsdl:part name="parameters" element="impl:UpdateSubsMDN"/>

   </wsdl:message>

   <wsdl:message name="UpdateSubsMDNResponse">

      <wsdl:part name="parameters" element="impl:UpdateSubsMDNResponse"/>

   </wsdl:message>

   <wsdl:message name="RegisterNewSubsResponse">

      <wsdl:part name="parameters" element="impl:RegisterNewSubsResponse"/>

   </wsdl:message>

   <wsdl:message name="UpdateRetiredSubsResponse">

      <wsdl:part name="parameters" element="impl:UpdateRetiredSubsResponse"/>

   </wsdl:message>

   <wsdl:message name="UpdateSubsRequest">

      <wsdl:part name="parameters" element="impl:UpdateSubs"/>

   </wsdl:message>

   <wsdl:message name="LowBalNotifResponse">

      <wsdl:part name="parameters" element="impl:LowBalNotifResponse"/>

   </wsdl:message>

   <wsdl:message name="UpdateRetiredSubsRequest">

      <wsdl:part name="parameters" element="impl:UpdateRetiredSubs"/>

   </wsdl:message>

   <wsdl:message name="RegisterNewSubsRequest">

      <wsdl:part name="parameters" element="impl:RegisterNewSubs"/>

   </wsdl:message>

   <wsdl:message name="LowBalNotifRequest">

      <wsdl:part name="parameters" element="impl:LowBalNotif"/>

   </wsdl:message>

   <wsdl:message name="UpdateSubsResponse">

      <wsdl:part name="parameters" element="impl:UpdateSubsResponse"/>

   </wsdl:message>

   <wsdl:portType name="PGWDataPushInterface">

      <wsdl:operation name="RegisterNewSubs">

         <wsdl:input name="RegisterNewSubsRequest" message="impl:RegisterNewSubsRequest"/>

         <wsdl:output name="RegisterNewSubsResponse" message="impl:RegisterNewSubsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="UpdateSubs">

         <wsdl:input name="UpdateSubsRequest" message="impl:UpdateSubsRequest"/>

         <wsdl:output name="UpdateSubsResponse" message="impl:UpdateSubsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="UpdateRetiredSubs">

         <wsdl:input name="UpdateRetiredSubsRequest" message="impl:UpdateRetiredSubsRequest"/>

         <wsdl:output name="UpdateRetiredSubsResponse" message="impl:UpdateRetiredSubsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="UpdateSubsMDN">

         <wsdl:input name="UpdateSubsMDNRequest" message="impl:UpdateSubsMDNRequest"/>

         <wsdl:output name="UpdateSubsMDNResponse" message="impl:UpdateSubsMDNResponse"/>

      </wsdl:operation>

      <wsdl:operation name="LowBalNotif">

         <wsdl:input name="LowBalNotifRequest" message="impl:LowBalNotifRequest"/>

         <wsdl:output name="LowBalNotifResponse" message="impl:LowBalNotifResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PGWDataPushInterfaceSoapBinding" type="impl:PGWDataPushInterface">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="RegisterNewSubs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="RegisterNewSubsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="RegisterNewSubsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="UpdateSubs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="UpdateSubsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="UpdateSubsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="UpdateRetiredSubs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="UpdateRetiredSubsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="UpdateRetiredSubsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="UpdateSubsMDN">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="UpdateSubsMDNRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="UpdateSubsMDNResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="LowBalNotif">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="LowBalNotifRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="LowBalNotifResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PGWDataPushInterfaceService">

      <wsdl:port name="PGWDataPushInterface" binding="impl:PGWDataPushInterfaceSoapBinding">

         <wsdlsoap:address location="http://localhost:8080/bizselfcare/services/PGWDataPushInterface"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
