Fortis/OrbitIntegration/src/main/resources/wsdl/OrbitWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.orbit.techzultants.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.orbit.techzultants.com/" name="OrbitWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.orbit.techzultants.com/" schemaLocation="OrbitWebService.xsd_1.xsd"/>
</xsd:schema>
</types>
<message name="getAccountBalance">
<part name="parameters" element="tns:getAccountBalance"/>
</message>
<message name="getAccountBalanceResponse">
<part name="parameters" element="tns:getAccountBalanceResponse"/>
</message>
<message name="getAccountDetails">
<part name="parameters" element="tns:getAccountDetails"/>
</message>
<message name="getAccountDetailsResponse">
<part name="parameters" element="tns:getAccountDetailsResponse"/>
</message>
<message name="fundsTransfer">
<part name="parameters" element="tns:fundsTransfer"/>
</message>
<message name="fundsTransferResponse">
<part name="parameters" element="tns:fundsTransferResponse"/>
</message>
<message name="getFTStatus">
<part name="parameters" element="tns:getFTStatus"/>
</message>
<message name="getFTStatusResponse">
<part name="parameters" element="tns:getFTStatusResponse"/>
</message>
<portType name="OrbitWebService">
<operation name="getAccountBalance">
<input wsam:Action="http://ws.orbit.techzultants.com/OrbitWebService/getAccountBalanceRequest" message="tns:getAccountBalance"/>
<output wsam:Action="http://ws.orbit.techzultants.com/OrbitWebService/getAccountBalanceResponse" message="tns:getAccountBalanceResponse"/>
</operation>
<operation name="getAccountDetails">
<input wsam:Action="http://ws.orbit.techzultants.com/OrbitWebService/getAccountDetailsRequest" message="tns:getAccountDetails"/>
<output wsam:Action="http://ws.orbit.techzultants.com/OrbitWebService/getAccountDetailsResponse" message="tns:getAccountDetailsResponse"/>
</operation>
<operation name="fundsTransfer">
<input wsam:Action="http://ws.orbit.techzultants.com/OrbitWebService/fundsTransferRequest" message="tns:fundsTransfer"/>
<output wsam:Action="http://ws.orbit.techzultants.com/OrbitWebService/fundsTransferResponse" message="tns:fundsTransferResponse"/>
</operation>
<operation name="getFTStatus">
<input wsam:Action="http://ws.orbit.techzultants.com/OrbitWebService/getFTStatusRequest" message="tns:getFTStatus"/>
<output wsam:Action="http://ws.orbit.techzultants.com/OrbitWebService/getFTStatusResponse" message="tns:getFTStatusResponse"/>
</operation>
</portType>
<binding name="OrbitWebServicePortBinding" type="tns:OrbitWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAccountBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fundsTransfer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFTStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrbitWebService">
<port name="OrbitWebServicePort" binding="tns:OrbitWebServicePortBinding">
<soap:address location="http://localhost:8080/OCServer/OrbitWebService"/>
</port>
</service>
</definitions>